{{- $description := "" -}}
{{- if .Params.description -}}
  {{- $description = .Params.description -}}
{{- else if .Description -}}
  {{- $description = .Description -}}
{{- else if and .IsPage .Summary -}}
  {{- $description = .Summary -}}
{{- else if and .IsPage .Plain -}}
  {{- $description = .Plain -}}
{{- else if .Site.Params.description -}}
  {{- $description = .Site.Params.description -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape | replaceRE `\s+` " " | strings.TrimSpace -}}
{{- if gt (len $description) 180 -}}
  {{- $description = truncate 177 $description -}}
{{- end -}}

{{- $pageTitle := .Site.Title -}}
{{- if not .IsHome -}}
  {{- $pageTitle = printf "%s | %s" .Title .Site.Title -}}
{{- end -}}

{{- $image := "" -}}
{{- $imageWidth := "" -}}
{{- $imageHeight := "" -}}
{{- $imageAlt := .Title | default .Site.Title -}}
{{- $fallbackImage := .Site.Params.socialImage | default .Site.Params.author.avatar -}}

{{- range (slice .Params.featured_image .Params.feature_image .Params.image) -}}
  {{- if and (not $image) . -}}
    {{- $candidate := . -}}
    {{- if or (hasPrefix $candidate "http://") (hasPrefix $candidate "https://") -}}
      {{- $image = $candidate -}}
    {{- else if hasPrefix $candidate "/" -}}
      {{- $image = $candidate | absURL -}}
    {{- else if $.Resources.GetMatch $candidate -}}
      {{- $image = ($.Resources.GetMatch $candidate).Permalink -}}
    {{- else if resources.Get $candidate -}}
      {{- $image = (resources.Get $candidate).Permalink -}}
    {{- else -}}
      {{- $image = $candidate | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if and (not $image) $fallbackImage -}}
  {{- if or (hasPrefix $fallbackImage "http://") (hasPrefix $fallbackImage "https://") -}}
    {{- $image = $fallbackImage -}}
  {{- else if hasPrefix $fallbackImage "/" -}}
    {{- $image = $fallbackImage | absURL -}}
  {{- else if resources.Get $fallbackImage -}}
    {{- $socialCard := (resources.Get $fallbackImage).Fill "1200x630 Smart q90" -}}
    {{- $image = $socialCard.Permalink -}}
    {{- $imageWidth = printf "%d" $socialCard.Width -}}
    {{- $imageHeight = printf "%d" $socialCard.Height -}}
  {{- else -}}
    {{- $image = $fallbackImage | absURL -}}
  {{- end -}}
{{- end -}}

{{- return dict "description" $description "image" $image "imageWidth" $imageWidth "imageHeight" $imageHeight "imageAlt" $imageAlt "pageTitle" $pageTitle -}}
