---
layout: blog
title: Blog
---
<section id="blog">
    <article class="container">
    <div class="row">
        <div class="left col-md-9">
            {% for post in paginator.posts%}
            <div class="item">
                <!-- article title -->
                <div class="item-title">
                    <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
                    <a href="{{ post.url }}" class="label label-default light"><i class="fa fa-dot-circle-o"></i> {{ post.categories }}</a>
                    <a href="{{ post.url }}#comments" class="scrollTo label label-default light"><i class="fa fa-comment-o"></i> 3 Comments - TO REMOVE</a>
                    <span class="label label-default light">{{post.date | date:"%-d %B %Y" }}</span>
                </div>
                <!-- blog short preview -->
                <p>{{ post.summary }}</p>
                <!-- read more button -->
                <a href="{{ post.url }}" class="btn btn-xs"><i class="fa fa-sign-out"></i> READ MORE</a>
            </div>
            {% endfor %}

            {% if paginator.total_pages > 1%}
            <div class="text-center">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a></li>
                    {% else %}
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    {% endif%}
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            {% if page == 1%}
                            <li class="active"><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                            {% else %}
                            <li class="active"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                        {% endif %}
                        {% elsif page == 1 %}
                        <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                        {% else %}
                        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                        {% endif%}

                    {% endfor %}
                    {% if paginator.next_page %}
                    <li><a href="/blog/page{{ paginator.next_page }}"><i class="fa fa-chevron-right"></i></a></li>
                    {% else %}
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            {% endif%}
        </div>
        <!-- SIDEBAR -->
        <div class="right col-md-3">
            <!-- blog search -->
            <div class="widget" style="display:none">
                <h3>Blog Search</h3>
                <form action="#" method="get" class="blog-search col-lg-12 nomargin nopadding">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" name="s" id="s" placeholder="..." />
                        <span class="input-group-btn">
                        <button class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
             <!-- categories -->
            <div class="widget">
                <h3>Categories</h3>
                <ul>
                    <li><a href="blog.html"><i class="fa fa-dot-circle-o"></i> Business</a></li>
                    <li><a href="blog.html"><i class="fa fa-dot-circle-o"></i> Audio</a></li>
                    <li><a href="blog.html"><i class="fa fa-dot-circle-o"></i> Creative</a></li>
                    <li><a href="blog.html"><i class="fa fa-dot-circle-o"></i> Funny</a></li>
                </ul>
            </div>
            <!-- recent posts -->
            <div class="widget">
                <h3>Recent Posts</h3>
                <ul>
                    <li><a href="blog-post.html"><i class="fa fa-sign-out"></i> This is a Gallery Post</a> <small>23 June 2013 / 12:43</small></li>
                    <li><a href="blog-post.html"><i class="fa fa-sign-out"></i> Blog Post With Text Only</a> <small>23 June 2013 / 12:43</small></li>
                    <li><a href="blog-post.html"><i class="fa fa-sign-out"></i> This is an Audio Post</a> <small>23 June 2013 / 12:43</small></li>
                    <li><a href="blog-post.html"><i class="fa fa-sign-out"></i> This is a Video Post</a> <small>23 June 2013 / 12:43</small></li>
                    <li><a href="blog-post.html"><i class="fa fa-sign-out"></i> An awsome post</a> <small>23 June 2013 / 12:43</small></li>
                </ul>
            </div>
        </div>
        <!-- /SIDEBAR -->
    </div>
    </article>
</section>